.day{
    li{
        .mu-checkbox-icon-uncheck{
            color: #999;
        }
    }
    .day-date-picker{
        .weui-cell__ft{
            span{
                color: #fff;
            }
        }
        .vux-tap-active:active{
            background:none;
        }
    }
    .vux-header{
        .vux-header-right{
            top: 3px;
        }
    }
}
.day-form{
    .mu-appbar-title{
        text-align: center;
    }
    .mu-date-picker{
        width: 100%;
        .mu-text-field{
            margin-bottom: 0;
        }
        .mu-text-field-content{
            padding: 0;
            padding-left: 15px;
        }
        .mu-text-field-hint{
            height: 48px;
            line-height: 48px;
            color: #bdc4cf;
        }
        input{
            height: 48px;
            padding-left: 15px;
        }
    }
}

.day-date{
    width: auto;
    .mu-text-field{
        margin-bottom: 0;
        width: auto;
    }
    .mu-text-field-content{
        padding: 0;
        height: 56px;
    }
    .mu-text-field-hint{
        line-height: 56px;
    }
    .mu-text-field-input{
        width: 90px;
        height: 56px;
        color: #fff;
    }
}

.weui-cells{
    margin: 0 !important;
    .weui-cell{
        padding: 15px !important;
    }
    .weui-cell_select{
        padding: 8px 0 0 15px !important;
    }
    .weui-textarea{
        font-family: Helvetica
    }
}

.vux-header{
    background-color: #009688 !important;
    .vux-header-left{
        a{
            color: #fff !important;
        }
    }
    .vux-header-title{
        font-size: 16px !important;
    }
    .x-header-right{
        color: #fff !important;
        i{
            margin-left: 10px;
        }
    }
}

.day-form-item{
    .vux-calendar{
        height: 48px;
        .weui-cell{
            height: 48px;
        }
        .weui-cell__ft{
            text-align: left;
            span{
                color: #000;
            }
        }
    }
}

.stats-box{
    .vux-calendar{
        &::before{
            border: none !important;
        }
        .weui-cell{
            padding: 0;
        }
        .weui-cell__ft{
            text-align: left;
            color: #fff;
        }
    }
}

.list-item{
    .vux-cell-bd{
        padding-right: 30px;
    }
}