.stats{
    background-color: rgba(0, 150, 136, 0.6);
}
.stats-head-right{
    color: #fff;
    i{
        margin-left: 10px;
    }
    .icon-list{
        font-size: 20px;
    }
}
.weui-grids{
    &::before{
        border-color: #4db6ac;
    }
    .weui-grid{
        text-align: center;
        color: #fff;
        &::before{
            border-color: #4db6ac;
        }
        &::after{
            border-color: #4db6ac;
        }
        &:active{
            background-color: #4db6ac;
        }
        i{
            font-size: 36px;
        }
        p{
            padding-top: 10px;
        }
    }
}

.stats-box{
    height: calc(~"100% - 46px");
    overflow-y: auto;
    ul{
        display: flex;
        border-bottom: 1px solid #4db6ac;
        li{
            flex: 1;
            padding: 8px 0;
            text-align: center;
            border-right: 1px solid #4db6ac;
            font-size: 14px;
            color: #fff;
            input{
                width: 100%;
            }
        }
    }
    .stats-chart{
        margin-bottom: 2px;
        padding: 10px;
    }
}